          
   <div class="Enviofundo shipping-p1 shipping-p2">
 
        <!--CORREIOS-->
   
        <img style="margin: -10px 5px -10px -8px" src="//cdn.shopify.com/s/files/1/0753/7131/5493/files/Diseno_sin_titulo_4_1.svg?v=1683048599">
        <p class="ttl-Envio">{{ section.settings.tituloEnvio }}
        <span class="ip-Envio" id="custom-address">Carregando informações...</span></p>
        <p class="txt-Envio">Envio Gratis</p>

        <!--CORREIOS-->

{%- if section.settings.selector_mode_background_shipping == 'mod_1' -%}
<style>
.shipping-p1 {
  border: 1px solid #e0e0e0;
  background: #f7f7f7;
}
</style>
{%- endif -%}

{%- if section.settings.selector_mode_background_shipping == 'mod_2' -%}
<style>
.shipping-p2 {
  border: 2px solid {{ section.settings.cordaborda }};
  background: transparent;
}
</style>
{%- endif -%}
     
<!-- ========================= -->
     
<style>

/*
SHIPPING CSS
*/
      
@media (max-width: 640px) {
  .Enviofundo > img {
      height: 52px;
  }
  .Enviofundo > p > span {
      font-size: 10px;
  }
  .Enviofundo {
      margin-bottom: 56px!important;
  }
  .txt-Envio {
      font-size: 10px;
      color: {{ section.settings.cordaborda }};
      font-weight: bold;
      padding: 0;
      margin: 0;
      margin-right: -5px!important;
  }
}

.Enviofundo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

.ttl-Envio {
      flex-grow: 1;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 0;
      color: var(--text-color);
}

@media (min-width: 641px){
.txt-Envio {
      font-size: 12px;
      color: {{ section.settings.cordaborda }};
      font-weight: bold;
      padding: 0;
      margin: 0;
}}

.ip-Envio {
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: {{ section.settings.cordaborda }};
}
</style>
</div>