<div class= "main-font-title" style=" display: table-cell;">

   <!-- Tiempo Envio -->
<style>
.tempofrete {
    border: 0px solid #0000001a;
    /*border-radius: 10px 10px 0px 0px;*/
    padding: 0px 5px 0px 5px;
    margin: 1px 1px 30px;
}
#badges-product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
#badges-product .badge {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
  	margin-top: 5px;
}
#badges-product .badge .badge-icon {
    margin-right: 10px;
    margin-top: 5px;
    fill: #696969;
    color: #1aa654;
}
#badges-product .badge .badge-text {
    flex: 1;
    color: #696969;
    font-size: 14px;
    margin-bottom: 5px;
}
#badges-product p {
    margin: 0;
    padding: 0;
} 
#badges-product .badge .badge-text .highlight-text {
    color: #0070f1;
}  
  
  
</style>  
    
<!-- fim Tiempo Envio -->        
    
      
		<!-- Calcular Envio --> 
<style>
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .foo {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: baseline;
    font-size: 14px;
    width: 100%;
    padding: 0px;
    border: 1px solid trasparent;
    border-radius: 5px;
  }

  .foo .inner-container {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
  }

  .foo .inner-container .bar {
    -webkit-font-smoothing: antialiased;
    color: inherit;
    box-sizing: border-box;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
  }

  .foo .inner-container .bet {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    margin-top: 5px;
  }

  .foo .inner-container .bet .biz {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }

  .foo .inner-container .bet .biz input {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid {{ section.settings.cor_borda_cep }};
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    /* border-right: 0; */
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
    margin-right: 10px;
    background:{{ section.settings.cor_background_cep}};
}

  .foo .inner-container .bet .bop {
    font-weight: normal;
    color: #000000;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex: 1 1 0px;
    width: 100%;
  }

  .foo .inner-container .bet .bop button {
    box-sizing: border-box;
    min-width: 50px;
    width: 100%;
    cursor: pointer;
    border: 1px solid {{ section.settings.cor_botao_cep }};
    border-radius: 5px;
    background: {{ section.settings.cor_botao_cep }};
    height: 100%;
    font-size: 16px;
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    /* border-left: 0; */
    color: white;
}

  .foo .inner-container .address {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0px;
    width: 100%;
    color: #666666;
  }

  .foo .inner-container .address .address_cell-1 {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    width: 100%;
    flex: 1 1 0px;
  }

  .foo .inner-container .address .address_cell-2 {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    width: 100%;
    flex: 1 1 auto;
  }

  .foo .inner-container .address .address_cell-1 svg {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    font-size: 100%;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    fill: #666666;
  }

  .foo .inner-container .address .address_cell-2 .text {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0px 5px;
    text-decoration: none;
  }

  .foo .inner-container .delivery {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    /*border-top: 1px solid rgba(204, 204, 204, 0.4);*/
    font-size: 14px;
    margin-top: 1px;
  }

  .foo .inner-container .delivery .freight {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px 16px;
    color: #666666;
    margin-top: 1px;
  }

  .foo .inner-container .delivery .freight .cell-1 {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    align-items: flex-start;
  }

  .foo .inner-container .delivery .freight .cell-1 .poo {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 25px;
    height: 22px;
  }

  .foo .inner-container .delivery .freight .cell-1 .poo svg {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    font-size: 100%;
    box-sizing: border-box;
    fill: #666666;
    margin-right: 4px;
    height: auto;
    min-width: 20px;
    width: 19px;
    
  }

  .foo .inner-container .cell-2 {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    align-items: flex-start;
    min-width: 7rem;
  }

  .foo .inner-container .cell-2 .freight-option-price {
    -webkit-font-smoothing: antialiased;
    color: #33bb33;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: bold;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 2px;
  }

  .foo .inner-container .loading_container {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
  }

  .foo .inner-container .loading_container .cell-1 {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    align-self: center;
  }

  .foo .inner-container .loading_container .cell-1 .icon {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    margin-right: 10px;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    width: 48px;
  }

  .foo .inner-container .loading_container .cell-1 .icon {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    margin-right: 10px;
    -webkit-box-align: center;
    align-items: center;
  }

  .foo .inner-container .loading_container .cell-1 .icon::after {
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent #4e7ef0 #4e7ef0;
    border-image: initial;
    animation: 500ms linear 0s infinite normal none running rotate;
    border-radius: 100%;
    content: "";
    display: block;
    height: 48px;
    width: 48px;
  }

  .foo .inner-container .loading_container .cell-2 {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    align-self: center;
  }

  .foo .inner-container .loading_container .cell-2 .text {    
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #666666;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
  }

  .d-none {
    display: none !important;
  }

  .color--danger {
    color: red;
  }

  .foo .inner-container {
    width: {{ section.settings.caixa_cep_mobile }}%;
  }

  @media screen and (min-width: 500px) {
    .foo {
      width: {{ section.settings.caixa_cep }}%;
    }

    .foo .inner-container {
      width: 100%;
    }
  }
</style> 
        

<div class="foo">
  <div id="shippingForm" class="inner-container">
    <p id="descriptionContainer" class="bar">
      Calcular envío y plazo <span id="errorMessage" class="error-message color--danger d-none"></span>
    </p>

    <a id="addressContainer" class="address d-none">
      <div class="address_cell-1">
        
        <svg viewBox="0 0 24 32" aria-labelledby="locationIcon locationDesc"
          fill="inherit" width="18px" height="18px" class="address__Location-sc-13z3fpy-0 eXXzUe">
          <path fill="inherit"
            d="M12 0c6.44 0 11.667 5.155 11.667 11.523 0 3.045-1.82 7.31-4.747 12.017l-.312.497c-1.192 1.878-2.485 3.695-3.618 5.108l-.406.501c-1.188 1.449-1.824 2.02-2.584 2.02-.843 0-1.532-.702-2.99-2.52l-.19-.24a59.948 59.948 0 01-3.428-4.868l-.312-.498C2.152 18.834.333 14.57.333 11.523.333 5.155 5.561 0 12 0zm0 28.801c.262-.281.575-.646.922-1.074l.298-.372a57.483 57.483 0 003.277-4.657c2.868-4.52 4.67-8.645 4.67-11.175 0-4.98-4.1-9.023-9.167-9.023-5.066 0-9.167 4.044-9.167 9.023 0 2.445 1.682 6.377 4.382 10.717l.288.458a57.472 57.472 0 003.277 4.657l.298.372.226.276c.184.221.356.422.514.598l.182.2zm0-22.968A5.833 5.833 0 1112 17.5a5.833 5.833 0 010-11.667zm0 2.5A3.333 3.333 0 1012 15a3.333 3.333 0 000-6.667z">
          </path>
        </svg>
      </div>
  
      <div class="address_cell-2">
        <span id="address" class="text">stree, neighborhood  city - state</span>
      </div>
  
     <!-- <div class="cell-2">
        <span class="freight-option-price">Entrega grátis</span>
      </div>-->
    </a>

    <div id="loadingIcon" class="loading_container d-none">
      <div class="cell-1">
        <div class="icon"></div>
      </div>
    
      <div class="cell-2">
        <span class="text">Cálculo de envío y plazo</span>
      </div>
    </div>

    <div id="freightContainer" class="delivery d-none">
      <div class="freight">
        <div class="cell-1">
          <div class="poo">
            <svg viewBox="0 0 24 24">
              <path fill="inherit"
                d="M14.882 4.75c.966 0 1.75.784 1.75 1.75v2.592h2c.69 0 1.319.307 1.728.822l1.437 1.738a2.71 2.71 0 01.585 1.69v2.908c0 1.155-.658 1.893-1.75 1.99v.01a2.75 2.75 0 11-5.5 0v-.018a1.765 1.765 0 01-.25.018h-5l-.005.168a2.75 2.75 0 01-5.495-.167l-1.014-.001a1.75 1.75 0 01-1.75-1.75v-10c0-.966.784-1.75 1.75-1.75h11.514zM7.132 17a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5zm10.75 0a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5zm-3-10.75H3.368a.25.25 0 00-.25.25v10c0 .138.112.25.25.25h1.458a2.748 2.748 0 012.306-1.25c.965 0 1.815.498 2.305 1.25h5.445a.25.25 0 00.25-.25v-10a.25.25 0 00-.25-.25zm1.75 4.342v2.578h4.238a1.207 1.207 0 00-.276-.62l-1.4-1.691-.072-.079a.705.705 0 00-.49-.188z">
              </path>
            </svg>
          </div>
          
          <span id="freightOptionText" class="freight-option-text">
            <strong></strong>
          </span>
        </div>
      </div>
    </div>

    <div id="submitterContainer" class="bet">
      <div class="biz">
        <input id="zipInput" type="" name="cep" maxlength="9" minlength="9" value="" placeholder="Digite seu cep">
      </div>

      <div class="bop">
        <button class="get-rates" type="button">Ok</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/cep-promise/dist/cep-promise.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js" integrity="sha512-1IpxmBdyZx3okPiZ14mzw6+pOGa690uDmcdjqvT310Kwv3NRcjvL/aOtoSprEyvkDdAb7ZtM2um6KrLqLOY97w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" 
  integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" 
  crossorigin="anonymous"
></script>


<script>

  (async () => {

    jQuery('#zipInput').mask('00000-000');

    const min_days = '{{ section.settings.delivery_time_min_days }}';
    const max_days = '{{ section.settings.delivery_time_max_days }}';

    const address = {
      element: document.querySelector("#address"),
      container: document.querySelector("#addressContainer"),
    }
  
    const form = {
      element: document.querySelector("#shippingForm")
    }
  
    const submitter = {
      container: document.querySelector("#submitterContainer"),
      button: document.querySelector("#submitterContainer button"),
    }
  
    const zipInput = {
      element: document.querySelector("#zipInput")
    }
  
    const loadingIcon = {
      element: document.querySelector("#loadingIcon")
    }
  
    const freightOptionText = {
      element: document.querySelector("#freightOptionText"),
      container: document.querySelector("#freightContainer"),
    }
  
    const description = {
      container: document.querySelector("#descriptionContainer"),
      error: document.querySelector("#errorMessage"),
    }
    
    function addBusinessDays(originalDate, numDaysToAdd) {
      const Sunday = 0;
      const Saturday = 0;
      let daysRemaining = numDaysToAdd;
    
      const newDate = originalDate.clone();
    
      while (daysRemaining > 0) {
        newDate.add(1, 'days');
        if (newDate.day() !== Sunday && newDate.day() !== Saturday) {
          daysRemaining--;
        }
      }
    
      return newDate;
    }
  
    async function submitZIP() {
  
      description.container.classList.toggle('d-none');
      submitter.container.classList.toggle('d-none');
      loadingIcon.element.classList.toggle('d-none');
  
      const min_date = addBusinessDays(moment(), min_days);
      const max_date = addBusinessDays(moment(), max_days);
      const is_same_month = min_date.month() == max_date.month();

      const date_format = '[<strong>]DD [de] MMMM[</strong>]';
      const date_format_same = '[<strong>]DD[</strong>]';

      const min_date_formatted = min_date.format(is_same_month ? date_format_same : date_format);
      const max_date_formatted = max_date.format(date_format);
  
      const zipCode = zipInput.element.value.replace( /^\D+/g, '');

      try {
        const { state, city, neighborhood, street } = await cep(zipCode);
    
        freightOptionText.element.innerHTML = 'tú ganaste- <b style= "color: #00d132;">Frete</b> {% if section.settings.delivery_time10 %}${min_date_formatted} e ${max_date_formatted}{% endif %} <b style= "color: #00d132;">Grátis</b> `;
        address.element.innerHTML = `${city} - ${state}`;
        address.element.innerHTML = `${street},<br> ${neighborhood} <br> ${city} - ${state}`;

        setTimeout(async () => {

          freightOptionText.container.classList.toggle('d-none');
          address.container.classList.toggle('d-none');
          loadingIcon.element.classList.toggle('d-none');
        }, 300);
      }
      catch(error) {
        const message = error.errors[0].message;

        description.error.innerHTML = `(cep inválido)`;
        description.error.classList.remove('d-none');

        loadingIcon.element.classList.toggle('d-none');
        description.container.classList.remove('d-none');
        submitter.container.classList.toggle('d-none');
      }
    }
          

    submitter.button.addEventListener("click", submitZIP)
  
  })();

</script>
</div>
<!-- /Calcular Frete --> 
