
  
<!doctype html>

<html class="no-js">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{- seo_page_title -}}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}"  onload="this.rel='stylesheet'">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
   

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}
    {%- if settings.zapzap -%}  {% render '7070' %} {%- endif -%}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    {% render 'microdata-schema' %}

    

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        showDiscount: {% if settings.show_discount %}true{% else %}false{% endif %},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script src="//cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.matches,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,String.prototype.includes,String.prototype.padStart,Object.assign,CustomEvent,Intl,URL,DOMTokenList,IntersectionObserver,IntersectionObserverEntry" defer></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function() {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {scrollToTop: false}
            }));
          };
        })();
      </script>
    {%- endif -%}
  
 {% render 'gsf-conversion-pixels' %}
<script src='https://areviewsapp.com/js_codes/collection_rating.js' defer></script>    
    
    

{{ 'a2reviews-custom.css' | asset_url | stylesheet_tag }}

{% include 'a2reviews-head-var' %}
</head> 
  <body class="warehouse--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}" data-instant-intensity="viewport">
    <span class="loading-bar"></span>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXCWHFL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}
    

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type == 'blog' or request.page_type == 'article' or request.page_type == 'page' -%}
      {% section 'static-newsletter' %}
    {%- endif -%}
    {% section 'text-with-icons' %}
    {% section 'footer' %}

    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=marblacks-adm.myshopify.com" defer></script>



    
    {{ 'pfx.js' | asset_url | script_tag }}
    
	 <!-- Não remova. Checkout Yampi. -->

<!-- Não remova. Checkout Yampi. --> </body>
 </html>



{% if settings.atalho_f12_enable %}
  <!-- INICIO DO BLOQUEADOR -->

<!-- script block do mouse inicio -->
  <script type="text/javascript">
var message="Desculpe, o clique com o botão direito foi desativado.";
function clickIE() {if (document.all) {(message);return false;}}
function clickNS(e) {if
(document.layers||(document.getElementById&&!document.all)) {
if (e.which==2||e.which==3) {(message);return false;}}}
if (document.layers)
{document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
document.oncontextmenu=new Function("return false")
</script>
<!-- script block do mouse final -->

<!-- script block atalhos 2 + F12 inicio -->
<script>
  document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
}
  </script>
<!-- script block atalhos 2 + F12 final -->  

<!-- script block selecionar conteúdo - inicio -->  
<script>
    function disableselect(e) {
    return false;
}

function reEnable() {
    return true;
}

document.onselectstart = new Function("return false");

if (window.sidebar) {
    document.onmousedown = disableselect;
    document.onclick = reEnable;
}
</script>
    
    <script src="//cdn.shopify.com/s/files/1/0533/7235/4736/t/2/assets/custom.js?v=6598476256455585169" defer></script>
<!-- script block selecionar conteúdo - final -->

 <!-- Bloquear a função: Desabilitar JS - inicio -->
<noscript id="easycoding"><style>body *{display:none}body:before{content: 'ATENÇÃO!!! ESSA ÁREA É RESTRITA A FUNCIONÁRIOS \A Se esse for seu caso solicite o acesso em nossa página de contato. \A\A  ©️ Easycoding — Todos os direitos reservados.';
    text-align: center;
    display: block;	
    display: block;
    margin-top: 200px;
    white-space: pre-wrap;
    line-height: 1.8;}  </style>
  <meta charset="utf-8"><h5><b></h5></b><meta http-equiv="refresh" content="3; URL='https://www.google.com/'">
</noscript>
<!-- Bloquear a função: Desabilitar JS - final -->

<!-- FIM DO BLOQUEADOR-->  
    {% endif %} 
  
  
  <!--botões arredondados--> 
  <style>

   .pix {
    {% if settings.tag_card %}  
    border-radius: 30px 30px 30px 30p   
    {%- else -%}    
    border-radius: 7px 7px 7px 7px;      
    {%- endif -%}  
   }
  
   .form__field {
  
   border-radius: {{ settings.botoes_campos }};  

  }  
  
  .button--primary {
   border-radius: {{ settings.botoes_campos }}; 
   width: 100%; 
   height:50px;
   {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %}
  
  }
  .button--primary {
   
  } 
    
   .button--primarycart {
   background: var(--primary-button-background);
   color: var(--primary-button-text-color);
   animation: shake 3s;
   animation-iteration-count: infinite;
   width: 100%;
   height: 50px;
   border-radius:  {{ settings.botoes_campos }}; 
   font-weight: bold;
   font-size: 15px;
   color: white;
   text-align: center;
   line-height: 4px;
   padding: 15px;
   {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %}
    
  }
    
   .button--secondary { 
    border-radius: {{ settings.botoes_campos }};
    font-weight:bold; 
    width: inherit; 
    {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %} 
   
  }     
    
  .button--primary4{
   border-radius: {{ settings.botoes_campos }};
   {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %} 
    
  } 
    
   .button--primary6{
     
   background: transparent;
   color: var(--primary-button-text-color);
   animation-iteration-count: infinite;
   height: 50px;
   border-radius:  {{ settings.botoes_campos }}; 
   font-weight: bold;
   font-size: 20px;
   color: var(--primary-button-background);
   text-align: center;
   padding: 15px; 
   border: 2px solid var(--primary-button-background);
   <!-- {% if settings.estilo_botao %} 
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);  
    {% endif %}-->
    
  }  
       
  .button--primary6{
   width: 100%; 
   height: 50px;
   display: block;
   line-height: 12px;
   margin-top: 15px;
    
  }
  
  .button--primary6 span:hover {
  background: var(--primary-button-background);
  border: 1px solid var(--primary-button-background);
  color: white;
  width: 100%;  
    
  } 
    
  .button--primary10 {
   border-radius: {{ settings.botoes_campos }};
  {% if settings.estilo_botao %}
  -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
  {% endif %}
    
  }
   
  .button--primary12 {
   background: var(--primary-button-background);
   color: var(--primary-button-text-color);
   animation: shake 3s;
   animation-iteration-count: infinite;
   width: 100%;
   height: 50px;
   border-bottom: 2px solid #00000075;
   border-radius:  {{ settings.botoes_campos }}; 
   font-weight: bold;
   font-size: 20px;
   color: white;
   text-align: center;
   padding: 15px;
     
   }  
  .quantity-selector { 
   border-radius: {{ settings.botoes_campos }};     
   }
  .button--primary21 {
   border-radius: {{ settings.botoes_campos }};
   {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %} 
    
   } 
    
   .select-wrapper--primary select:valid {
    
    border-radius: {{ settings.botoes_campos }};
  
   }
   </style>
   <!--final botões arredondados-->
  
  
   <!--Sombra nos botões--> 
   {% if settings.sombra1_botao %}  
  
   <style>
     
   .button--primary {
   box-shadow: 0 10px 30px #e3e3e3;
     
   } 
     
  .button--primary3 {
   box-shadow: 0 10px 30px #e3e3e3;

  }
    
  .button--primary4 {  
   box-shadow: 0 10px 30px #e3e3e3;
  
  }  
    
  .button--primary6{
   box-shadow: 0 10px 30px #e3e3e3;
    
  }  
    
   .button--primary10 { 
    box-shadow: 0 10px 30px #e3e3e3;
  }
     
  .button--primary12 {  
   box-shadow: 0 10px 30px #e3e3e3;

  }   

  .button--primary21 {
   box-shadow: 0 10px 30px #e3e3e3;
     
  }   
     
  </style>  
  
  {% endif %} 
  <!--Final sombra nos botões-->
  
  
  
   

  <!--borda inferior do botão-->
  {% if settings.borda_botao %}  

  
  <style>
    
    .button--primary {      
    border-bottom: 2px solid #00000075;
      
    } 
    .button--secondary {      
    border-bottom: 2px solid #00000075;  
    
    }
    .button--primary3 {      
    border-bottom: 2px solid #00000075;  
      
    }   
    
    .button--primary4 {   
    border-bottom: 2px solid #00000075; 
           
    }   
    
    .button--primary6 {   
    border-bottom: 2px solid #00000075;       

    } 
    
    
    .button--primary10 {
    border-bottom: 2px solid #00000075;       
   
    }

    .button--primary21 {
    border-bottom: 2px solid #00000075;       
   
    }
    
    .button--primarycart {   
    border-bottom: 2px solid #00000075;
      
    }
     } 
  </style>
    {% endif %} 
  
  
  <style>
   .button--primary3 { 
    {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %} 
    
   }  
    
    
   .button--primary13 { 
    {% if settings.estilo_botao %}
   -webkit-box-shadow: 0 2px 4px #ccc, inset 0 26px hsl(0deg 0% 100% / 20%);
   {% endif %} 
    
   }   
  
  </style>  

   <style>
   
   .button--primary13 { 
  
   border-radius: {{ settings.botoes_campos }};
   margin-top: 5px;  
   }  
     
   .button--primary3 {
     
    border-radius: {{ settings.botoes_campos }}; 
    font-size: 20px;
    font-weight: bold;
     
   
   }  
   </style>
  
  <style>

    /*card arredondado*/

    @media screen and (min-width: 641px){
    .card {
    margin-bottom: 30px;
    border-radius: {{settings.borda_redonda}};
    border: 1px solid var(--border-color);
 
    
    {% if settings.sombra_card %} 

    
    box-shadow: 0 10px 30px #e3e3e3;
    
    {%- endif -%}
      
    }
      
    @media screen and (min-width: 641px) {
    
     /*Featured collection*/ 
    .product-list {
    
    border-radius: {{settings.borda_redonda}};
    
    {% if settings.sombra_card %} 

     /*Featured collection*/ 
    /*box-shadow: 10px 15px 10px rgba(0,0,0,.05);*/
    
    {%- endif -%}
      
    }
      
     /*Seção Voce pode gostar*/ 
    @media screen and (min-width: 1280px) {
      
    .offer-item--inline {
    border-radius: {{settings.borda_redonda}};
    {% if settings.sombra_card %} 

    
    box-shadow: 0 10px 30px #e3e3e3;
    
    {%- endif -%}
      
    } 
      
    
    
    }
      
    .product-item__label-list > .product-label {
     border-radius: 30px 30px 30px 30px;
      
    }  
      

    .product-label1 {
  
     {% if settings.tag_card %} 
      
      border-radius: 30px 30px 30px 30px;
      
      {%- else -%}
      
      border-radius: 7px 7px 7px 7px;
      
      {%- endif -%} 
  
     }

 
     /*seção Voce pode gostar*/ 
    @media screen and (min-width: 1000px) {
   .product-list::before { 
  
    border-radius:{{settings.borda_redonda}};
    }
      
    }
      
      /*seção Voce pode gostar*/ 
   .product-list .flickity-viewport {
     border-radius: {{settings.borda_redonda}};
     
    }      
      
     
    .product-item__label-list > .product-label {
      
      {% if settings.tag_card %} 
      
      border-radius: 30px 30px 30px 30px;
      
      {%- else -%}
      
      border-radius: 7px 7px 7px 7px;
      
      {%- endif -%}
    }  
      
     
     </style>      
     <style>
      
       
       .product-item {
         margin-bottom: 28px;
        
      border-radius: {{settings.borda_redonda}};
       }
      
      </style>

       <style>
  .product-item {
    
    
    {% if settings.sombra_card %} 
      
      box-shadow: 0px 3px 15px -7px #0000003d;
       
      {% endif %} 
    
  }


  @media screen and (min-width: 1000px) {
 .featured-collection {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 6px 6px 6px 0;
  border-radius: {{settings.borda_redonda}};      
  }
  }

  <style>
  
  @media screen and (max-width: 640px)
.product-list--scrollable .product-item {
  width: 32%;
  border-radius: 3px;
  
  
  </style>
  
    <style>
  
     .offer-item {
       
      {% if settings.sombra_card %} 
      
      box-shadow: 0px 3px 15px -7px #0000003d;
       
      {% endif %} 

     } 
      
</style>  
  
  
<style>
  
  
      @media screen and (max-width: 640px) {
     .product-list--scrollable .product-item { 
       
       
      {% if settings.sombra_card %} 
 
      box-shadow: 0px 3px 15px -7px #0000003d 
       
     }  
      {% endif %} 
  
        
     }   
  
</style>  
  
<style>
  
  
.price--compare {
   color: {{settings.cor_compare_cor}};  
}  
  
.price {
  
   font-weight: 700;  
   color: {{settings.cor_preco_cor}};
  
}  
  
  
.product-item .price--compare {
  
   font-weight: 300;  
   color: {{settings.cor_compare_cor}}; 
  
} 
  
  
.product-form .price--compare {
  
   font-weight: 300;
   color: {{settings.cor_compare_cor}}; 
  
}  
  
  
 .product-item__price-list  {
   
 color: {{settings.cor_preco_cor}}; 
   
 }   
  
  
</style>  
    
  
<style>

  
  
  .price--highlight {
   color: {{settings.cor_preco_cor}};

  }  
  
    
  .price--compare {
   color: red;

  
  }
  
  
  /*preço coleções desktop*/
  @media screen and (min-width: 641px) {
  .product-item__title {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 14px));
  }

  .product-item--vertical .price:not(.price--compare),
  .product-item--list .price:not(.price--compare) {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 20px));
    color: {{settings.cor_preco_cor}};
    font-weight: 700;
  }
}

   /*preço coleções mobile*/
   @media screen and (max-width: 641px) {
  .product-item__title {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 14px));
  }
     
  

  .product-item--vertical .price:not(.price--compare),
  .product-item--list .price:not(.price--compare) {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 20px));
    color: {{settings.cor_preco_cor}} ;
    font-weight: 700;
  }
}
  
</style>  
  
<style>
  
  .product-label1{
   {% if settings.tag_card %} 
      
      border-radius: 30px 30px 30px 30px;
      
      {%- else -%}
      
      border-radius: 7px 7px 7px 7px;
      
      {%- endif -%} 
  
     }
  
  } 
  
</style> 
  
  
  
<style>
  
  
.product-list--scrollable .product-item:last-child {
  
  border-radius: {{settings.borda_redonda}};
}  
  
  
.product-label--on-sale {
  background-image: linear-gradient(to right, {{settings.onsale_1}}, {{settings.onsale_2}});
}  
  
.product-label--custom1 {
  background: linear-gradient(to right, {{settings.custom_1_cor1}}, {{settings.custom_1_cor2}});  
}  
  
  
.product-label--custom2 {
  background-image: linear-gradient(to right, {{settings.custom_2_cor1}}, {{settings.custom_2_cor2}}); 
  
}
  
.discount__percentage {
  background-image: linear-gradient(to right, {{settings.onsale_1}}, {{settings.onsale_2}});
  
  
} 

.product-label{
  border-radius: 30px; 
{% if settings.tag_card %} 
      
      border-radius: 30px 30px 30px 30px;
      
      {%- else -%}
      
      border-radius: 7px 7px 7px 7px;
      
      {%- endif -%} 
  
} 

.discount__percentage {

border-radius: 30px; 
{% if settings.tag_card %} 
      
      border-radius: 30px 30px 30px 30px;
      
      {%- else -%}
      
      border-radius: 7px 7px 7px 7px;
      
      {%- endif -%}   

}

.shipping-preview-line1 {
  border-radius: {{ settings.botoes_campos }};
  }
  </style>  


